.App {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.no-midday {
  animation: no-midday infinite 5s linear;
  height: 5vmin;
  color: red;
  font-weight: bold;
  font-size: 64px;
  pointer-events: none;
  display: inline-block;
  padding: 0 40px;
}
.no-midday-2 {
  display: inline-block;
  padding: 0 40px;
  animation: no-midday-2 infinite 5s linear;
  height: 5vmin;
  color: red;
  font-weight: bold;
  font-size: 64px;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

@keyframes no-midday {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
@keyframes no-midday-2 {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(540deg);
  }
}
